img{
	width: 500px;
	border-radius: 100px;
}

#banner{
	width:100%;
	position: relative;
}

#logo{
	width: 15%;
	position: absolute;
}

#sign_in{
	width: 9%;
	position: absolute;
	transform: translate(-230%,90%);
}

#menu{
	width: 10%;
	position: absolute;
	transform: translate(-115%, 20%);
}


body {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	background-color: orange;
}

h1{
	color: black;
	position: relative;
	text-align: center;
	transform: translate(-30%,30%);
	color: ghostwhite;
}

li {
	list-style-type: none;
	padding: 30px;
}

*{
	margin: 0;
	padding: 0;
}

#topbanner{
	display: flex;
}

h2{
	position:  relative;
	transform: translate(-1130%,370%);
	color: ghostwhite;
}

#cards{
	margin: 20px;
}

p{
	font-size: 30px;
}

#title{
	font-size: 30px;
	transform: translate(-360%, 30%);
	color: ghostwhite;
}